* {
  line-height: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #070707;
}

.container {
  max-width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #070707;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.header {
  padding-top: 23px;
  margin-bottom: 35px;
}
.header .container::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #828282;
  display: flex;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.header .container .nav {
  margin-bottom: 30px;
}
.header .container .nav__title {
  display: none;
}
.header .container ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}
.header .container ul li:not(:last-child) {
  margin-right: 40px;
}
.header .container ul li a {
  font-size: 18px;
  color: #828282;
  text-decoration: none;
}
.header .container ul li a:hover {
  color: #000000;
}

main .hero {
  padding-bottom: 100px;
}
main .hero .container h2 {
  font-size: 47px;
  font-weight: 700;
  color: #070707;
  margin-bottom: 45px;
}
main .hero .container img {
  max-width: 920px;
}
main .about-me {
  padding: 100px 0;
  background-color: #F6F6F6;
}
main .about-me .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .about-me .container h3 {
  margin-bottom: 30px;
}
main .about-me .container p {
  max-width: 480px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}
main .skills .container h3 {
  margin-top: 100px;
  margin-bottom: 14px;
}
main .skills .container p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
  margin-bottom: 79px;
}
main .skills .container ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 83px;
}
main .portfolio {
  background-color: #F6F6F6;
  padding-top: 119px;
}
main .portfolio .container h3 {
  margin-bottom: 68px;
}
main .portfolio .container ul {
  list-style: none;
}
main .portfolio .container ul a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-decoration-line: underline;
  max-width: 276px;
  text-align: center;
  color: #070707;
}
main .portfolio .container ul li .fashion-link {
  text-align: center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 129px;
}
main .portfolio .container ul li .reebok-link {
  text-align: center;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 136px;
}
main .portfolio .container ul li .braun-link {
  text-align: center;
  margin: 0 auto;
  margin-top: 1px;
  padding-bottom: 101px;
}
main .contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .contacts .container h3 {
  margin: 100px 0 21px;
}
main .contacts .container p {
  max-width: 230px;
  text-align: center;
  color: #070707;
}
main .contacts .container .btn {
  width: 150px;
  height: 35px;
  background-color: #070707;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 35px;
  margin-bottom: 46px;
}
main .contacts .container .social {
  width: 290px;
  margin-bottom: 44px;
}
main .contacts .container .social ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
main .contacts .container .like {
  padding-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}

/*# sourceMappingURL=style.css.map */
